.topbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 50px;
    background: #003f91; opacity: 0.65;
    border-bottom: 1px solid #67d8fa;
}

.instagram {
    display: flex;
    align-items: center;
    margin:0 auto 0 auto;
    gap: 8px;
    text-decoration: none;
    color: white;

}
.instagram img {
    width: 25px;
    height: 25px;
}

.nav {
    display: flex;
    background: #003f91; opacity: 0.65;
    width: 100vw;
    z-index: 100;
}
.nav-container{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 60px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 120px;
    margin-left: 125px;
}

.nav-logo {
    display: flex;
    max-width: 100px;
}
.logo {
    position: relative;
    margin-top: 15px;
    align-self: center;
    z-index: 100;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.kredit, .prava {
    display: none;
}