@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Light.ttf');
}

@font-face {
  font-family: 'Plante';
  src: url('./assets/fonts/Plante.ttf');
}

:root {
  --Font-A: Poppins;
  --Font-B: Plante;
}

*{
  font-family: var(--Font-A), sans-serif;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  height: 100vh;
}

html, #root {
  height: 100vh;
}