@font-face {
  font-family: 'Poppins';
  src: url('./assets/Fonts/Poppins-Light.ttf');
}

@font-face {
  font-family: 'Plante';
  src: url('./assets/Fonts/Plante.ttf');
}

:root {
  --Font-A: Poppins;
  --Font-B: Plante;
}

*{
  font-family: var(--Font-A), sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: block;
}

html, #root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}