@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Light.ttf');
}

@font-face {
  font-family: 'Plante';
  src: url('./assets/fonts/Plante.ttf');
}

:root {
  --Font-A: Poppins;
  --Font-B: Plante;
}

*{
  font-family: var(--Font-A), sans-serif;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  height: 100vh;
}